.forumHero {
    background-image: url('../assets/green-buildings.jpeg');
    background-size: cover;
    background-position: center;
    height: 300px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
  }
  
  .forumHero h1 {
    font-size: 3rem;
    font-weight: bold;
    margin: 0;
  }
  
  .forumHero p {
    font-size: 1.5rem;
  }
  
  .forumContainer {
    padding: 1.5rem 2rem;
    font-family: sans-serif;
  }
  
  .tagFilters {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
  }

  
  .divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 1rem 0;
  }
  
  .postCard {
    padding: 1rem 0;
  }
  
  .postTitle {
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0 0 0.5rem 0;
  }
  
  .postDesc {
    margin-bottom: 0.75rem;
    line-height: 1.4;
  }
  
  .postFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  
  
  .link,
  .repliesButton {
    background: none;
    border: none;
    color: #3266cc;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }


  
  .repliesButton {
    color: #3266cc;
    font-weight: 500;
}
.linkMap {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    background: none;
    border: none;
    color: #3266cc;
    cursor: pointer;
    text-decoration: none;
    font-size: 0.9rem;
  }
  
  .infoRow {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
    .postTags {
    display: flex;
    align-items: center;
    gap: 0.5rem; 
  }
  
  
  
  .addPost {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: #3e5723;
    color: white;
    border-radius: 20px;
    padding: 0.4rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
  }
  
  .addPost:hover {
    background-color: #2e421a;
  }
  .replyContainer {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  .replyCard {
    background-color: #f0f0f0; 
    border-left: 3px solid #2e8b57; 
    padding: 0.75rem;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #333;
  }
  .tag {
    background-color: #3e5723;
    color: white;
    padding: 0.3rem 0.8rem;
    border-radius: 999px;
    font-size: 0.85rem;
    cursor: pointer;

  }