.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: transparent;
    background-size: cover;
    background-position: center;
    
  }
  
 
  
  .title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  .navLinks li {
    display: inline;  
}


  .navLinks li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-weight:500;
  }
  
  .navLinks li a:hover {
    color: #2e8b57;
  }
  