.main {
    font-family: sans-serif;
    background-color: #fdfbff;
  }
  
  .heading {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  
  .grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
  }


  